<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить категорию</title>
</head>
<body>
    <h1 align="center">Страница добавления категории</h1><br>
<div align="center">
    <form action="{% url 'market:add_category' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="category_name"><br>
        <input type="submit" value="соханить">
    </form>
</div>
<div>
    <h2 align="center"><a href="{% url 'market:add_product' %}">добавить продукт</a></h2>
</div>
</body>
</html>