<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market_Python</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header id="header">
    <div class="block">
        <img src="{% static 'img/logo.jpg' %}" alt="" class="header__logo">
        <strong>Привет</strong>
    </div>
    <div class="block">World</div>
    <div class="block">!!!!!!!</div>

</header>
<nav class="nav">
    <ul class="nav_ul">
        <li><a href="{% url 'market:main_page' %}">Все</a></li>
        {% for cat in categories %}
        <li><a href="{% url 'market:category_sort' cat.id %}">{{ cat.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'market:add_category' %}">Добавить</a></li>
    </ul>
</nav>
<main class="main">
{% block content %}
    {% for prod in products %}

    <div class="item_img">
        <a href="{% url 'market:product_detail' prod.id %}">
            {% if prod.image %}
        <img src="{{ prod.image.url }}" alt="" class="img">
            {% else %}
        <img src= "{% static 'img/no_image.jpg' %}" alt="" class="img" >
            {% endif %}
        <p>{{ prod.title }}</p>
        <p>{{ prod.description }}</p>
        <p>Цена: {{ prod.price }}</p>
            </a>
    </div>
    {% endfor %}
{% endblock %}
</main>
</body>
</html>